* {

    box-sizing: border-box;
    text-align: center;


    /* display: flex;
    flex-direction: column; */
}



body {

    background: #777;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    height: 100%vh;   
    width: '960px';


    /* margin: 80px; */

}


header nav section aside footer {

    background: #ebebeb;
    color: #777;
    margin: 30px;

}

.header-style {

    color: #777;
    background: #ebebeb;
    padding: 2px;
    border: 5px;

}
.nav-style {

    color: #777;
    background: #ebebeb;
    padding: 2px;

}

.flex-parent {

    display: flex;

}

section {

    background: #ebebeb;
    padding: 20px;
    width: 495px;
    
    
    /* float: left; */
    /* flex-direction: row; */


}


article {

    background: #777;
    color: #ebebeb;
    padding: 15px;
    text-align: center;
    align-content: center;


    /* width: 495px; */
    /* flex-direction: row; */
    /* float: left; */

}


aside {

    background: #ebebeb;
    padding: 20px;
    width: 50%vw;


    /* display: block; */
    /* float: left; */
    /* flex-direction: row; */
}


footer {

    background: #ebebeb;
    color: #777;
    padding: 20px;

}


h1 p {

    text-align: center;
    background: #ebebeb;
    color: #777;

}

h4 {

    font-weight: inherit;


    /* background: #ebebeb; */

}


h5 {


    font-weight: inherit;

}


.p1 {

    color: #777;
    background: #ebebeb;

}

#left {
    width: 50%;
    color: #777;
    background: #ebebeb;
    margin: 20px;


    /* float: left; */

  }


#right {

    width: 50%;
    color: #777;
    background: #ebebeb;
    margin: 20px;


    /* float: left; */

  }




/* old code not used */

  /* .left {
    float: left;
    width: 33.3%;
    color: #fff;
    background: #30948D;

} */
/* body {

    /* display: flex; */
    /* flex-direction: column;
    margin: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: red;
    background: '#777';
    width: '960px';
    font-size: '18px';
    text-align: center;

} */


/* section {

    width: 495px;

}

header nav section aside footer {

    background: '#ebebeb';

}


.article {

    color: '#ebebeb';
    background: '#777';

}


.h1 .p {

    color:'#777';
    background: 'ebebeb';

} */